<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Player!</title>
</head>
<body>
    <ul>
        <li>
            <a href="/" class="link-dark">Home</a>
        </li>
        <li>
            <a href="/players" class="link-dark">All Players</a>
        </li>
    </ul>
    </nav>
    <h1>Welcome! Let's find out a little bit about you</h1>
    <form action="/players" method="POST">
        <!-- Need to make username unique -->
        Username: <input type="text" name="username" required><br />
        <textarea name="bio" placeholder="Your bio here" required></textarea><br>
        <input type="submit" value="Create Your New Profile!">
    </form>
</body>
</html>