</head>
                <a class="nav-link active link-dark" aria-current="page" href="/campaigns">Campaigns</a>
            </div>
        </div>
    </div>
</nav>
<div class="bg-light shadow-1-strong text-dark rounded text-center">
<blockquote class="blockquote">
    <p>
        "Welcome to The Table!"
    </p>
</blockquote>
<figcaption class="blockquote-footer text-dark">
        <cite title="enter-here"><a href="/campaigns" class="text-dark">Enter Here</a></cite>
</figcaption>
</figure>
</div>
<div class="card-group text-dark">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
        <div class="card h-100">
            <img
            src="images/princess_.svg"
            class="card-img-top shadow-1-strong"
            alt="..."
            />
            <div class="card-body">
            <h3 class="card-title">The Dagger Queen</h3>
            <p class="card-text">
                You work for her now. Don't get stuck with the pointy end.
            </p>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img
            src="images/astronaut.svg"
            class="card-img-top shadow-1-strong"
            alt="..."
            />
            <div class="card-body">
            <h3 class="card-title">Space Quest</h3>
            <p class="card-text">
                They can't hear your stomach growl in space.
            </p>
            </div>
        </div>
        </div>
        <div class="col">
        <div class="card h-100">
            <img
            src="images/pipeline.svg"
            class="card-img-top shadow-1-strong"
            alt="..."
            />
            <div class="card-body">
            <h3 class="card-title">Cybernautica</h3>
            <p class="card-text">
                The world has flooded. You're autocharged for fresh air.
            </p>
            </div>
        </div>
        </div>
    </div>
</div>


