#home-container {
  height: 100%;
  font-size: 1rem;
  font-family: "Alegreya Black", "Times New Roamn";
  font-style: normal;
  border: 2px solid white;
}

#home-body {
  background: rgb(2,0,36);
  background-color: linear-gradient(
    90deg, 
    rgba(2,0,36,1) 0%, 
    rgba(25,25,25,1) 38%, 
    rgba(99,99,99,1) 66%, 
    rgba(162,162,162,1) 85%, 
    rgba(255,255,255,1) 100%
  );
}