body {
  height: 100vh;
  padding-top: 14vh;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Alegreya Black"; }

.gradient {
  background: #d9e7ff;
  background: radial-gradient(circle, #e3ffe7 0%, #d9e7ff 100%) 100%; }

.page-header {
  font-size: 1.25rem;
  color: white;
  font-family: 'Alegreya SC', serif; }

.footer {
  margin-top: 50vh;
  height: auto;
  position: relative;
  line-height: 180%;
  padding: 0 10px; }

.container {
  margin-top: 1rem;
  margin-right: 1rem; }

.navbar {
  padding: 1rem;
  margin-bottom: 2rem; }

.filter {
  padding-left: 2rem; }

#form-card {
  padding: 10vh;
  align-items: center; }

.pg {
  text-align: center; }

#table-text {
  color: black; }
