<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    
    <title>Campaigns Filter results</title>
</head>

    <h1>Campaigns</h1>
    <nav>
        <ul>
            <li>
                <a href="/" class="link-dark">Home</a>
            </li>
            <li>
                <a href="/campaigns/new" class="link-dark">New Campaign</a>
            </li>
        </ul>
    </nav>
    <ul>
        <% campaigns.forEach(campaign => { %>
            <li><a href='/campaigns/<%= campaign._id %>'><%= campaign.name %></a></li>
        <% }) %>
    </ul>

    