    <title>Campaigns Filter results</title>
</head>
    <h1>Campaigns</h1>
    <nav>
        <ul>
            <li>
                <a href="/" class="link-dark">Home</a>
            </li>
            <li>
                <a href="/campaigns/new" class="link-dark">New Campaign</a>
            </li>
        </ul>
    </nav>
    <ul>
        <% campaigns.forEach(campaign => { %>
            <li><a href='/campaigns/<%= campaign._id %>'><%= campaign.name %></a></li>
        <% }) %>
    </ul>

    