    <title>Campaigns Index</title>
    <!-- opening nav tag in the layout.ejs -->
        <ul>
            <li>
                <a href="/" class="link-dark">Home</a>
            </li>
            <li>
                <a href="/campaigns/new" class="link-dark">New Campaign</a>
            </li>
        </ul>
    </nav>
    <h1 class="text-dark">Campaigns</h1>
    <div class="filter">
        <form action="/campaigns/filter" class="text-dark" method="POST">
            <!-- Name: <input type="text" name="name"><br /> -->
            <!-- Dungeon Master: <input type="text" name="dungeonMaster"><br />
            Players: <input type="text" name="players"><br /> -->
            Has Open Slots: <input type="checkbox" name="openSlots"><br />  
            Genre: <select name="genre">
                <option value="" selected>Any</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Scifi">Sci-Fi</option>
                <option value="Horror">Horror</option>
                <option value="OSR">OSR</option>
                <option value="Survival">Survival</option>
                <option value="Other">Other</option>
            </select><br />
            Game System: <select name="gameSystem">
                <option value="" selected>Any</option>
                <option value="D&D5e">Dungeons & Dragons 5E</option>
                <option value="D&D3.5e">Dungeons & Dragons 3.5</option>
                <option value="Pathfinder1e">Pathfinder 1E</option>
                <option value="Pathfinder2e">Pathfinder 2E</option>
                <option value="VampireTheMasquerade5e">Vampire The Masquerade 5E</option>
                <option value="WorldofDarkness">World of Darkness</option>
                <option value="Pathfinder2e">Pathfinder 2E</option>
                <option value="Other">Other</option>
            </select><br />
            Difficulty: <select name="difficulty">
                <option value="" selected>Any</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
            </select><br />
            <!-- Start Date: <input type="date" name="startDate"><br /> -->
            <!-- Description: <textarea name="description" placeholder="Description"></textarea><br> -->
            <input type="submit" value="Filter Campaigns">
        </form>
    </div>
    <ul>
        <% campaigns.forEach(campaign => { %>
            <li><a href='/campaigns/<%= campaign._id %>'><%= campaign.name %></a></li>
        <% }) %>
    </ul>
