    <title>Campaigns Index</title>
    <!-- opening nav tag in the layout.ejs -->
        <ul>
            <li>
                <a href="/" class="link-dark">Home</a>
            </li>
            <li>
                <a href="/campaigns/new" class="link-dark">New Campaign</a>
            </li>
        </ul>
    </nav>
    <h1 class="text-dark">Campaigns</h1>
    <ul>
        <% campaigns.forEach(campaign => { %>
            <li><a href='/campaigns/<%= campaign._id %>'><%= campaign.name %></a></li>
        <% }) %>
    </ul>
