<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    
    <title>Campaigns Index</title>
</head>
<body>
    <h1>Campaigns</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/campaigns/new">New Campaign</a>
            </li>
        </ul>
    </nav>
    <div class="filter">
        <form action="/campaigns/filter" method="POST">
            Name: <input type="text" name="name"><br />
            Dungeon Master: <input type="text" name="dungeonMaster"><br />
            Players: <input type="text" name="players"><br />
            Open Slots: <input type="number" name="openSlots" max:6><br /> 
            Start Date: <input type="date" name="startDate"><br />
            Description: <textarea name="description" placeholder="Description"></textarea><br>
            <input type="submit" value="Filter Campaigns">
        </form>
    </div>
    <ul>
        <% campaigns.forEach(campaign => { %>
            <li><a href='/campaigns/<%= campaign._id %>'><%= campaign.name %></a></li>
        <% }) %>
    </ul>

    <!-- Scripts -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.js"></script>
    
</body>

</html>