<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.css">
    <link rel="stylesheet" href="css/styles.css">
    
    <title>New Campaign</title>
</head>
<body>
    <h1>New Campaign</h1>
    <form action="/campaigns" method="POST">
        Name: <input type="text" name="name"><br />
        Dungeon Master: <input type="text" name="dungeonMaster"><br />
        Players: <input type="text" name="players"><br />
        Open Slots: <input type="text" name="openSlots"><br />
        Start Date: <input type="text" name="startDate"><br />
        Description: <input type="text" name="description"><br />
        <input type="submit" value="New Campaign">
    </form>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/campaigns">All Campaigns</a>
            </li>
        </ul>
    </nav>

    <!-- Scripts -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.js"></script>

</body>

</html>