    <title>New Campaign</title>
</head>
<!-- opening nav tag in the layout.ejs -->
        <ul>
            <li>
                <a href="/" class="link-dark">Home</a>
            </li>
            <li>
                <a href="/campaigns" class="link-dark">All Campaigns</a>
            </li>
        </ul>
    </nav>

    <h1>New Campaign</h1>
        <form action="/campaigns" method="POST">
            Name: <input type="text" name="name"><br />
            Dungeon Master: <input type="text" name="dungeonMaster"><br />
            Players: <input type="text" name="players"><br />
            Open Slots: <input type="text" name="openSlots"><br />
            Start Date: <input type="date" name="startDate"><br />
            Description: <textarea name="description" placeholder="Description"></textarea><br>
            <input type="submit" value="New Campaign">
        </form>

