<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- <link rel="stylesheet" href="mdb-ui-kit/css/mdb.min.css"> -->
    <title>Sessions Index</title>
</head>
<body>
    <h1>Sessions</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Back to Campaign</a>
            </li>
            <li>
                <a href="/sessions/new">Create a new Session</a>
            </li>
        </ul>
    </nav>
</body>


</html>