<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sessions Index</title>
</head>
<body>
    <h1>Sessions</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Back to Campaign</a>
            </li>
            <li>
                <a href="/sessions/new">Create a new Session</a>
            </li>
            <br/>
            <h4>List of Sessions</h4>
		<ul>
			<% sessions.forEach(session => { %>
				<li>
					<a href="/sessions/<%= session._id %>"><%= session.title %></a>
				</li>
			<% }) %>
        </ul>
    </nav>
</body>
</html>