    <title>Sessions Index</title>
</head>
<!-- opening nav tag in the layout.ejs -->
            <a href="/" class="nav-link link-dark">Back to Campaign</a>
            <a href="/sessions/new" class="nav-link link-dark">New Session</a>
            </div>
        </div>
    </div>
</nav>

<h1 class="pg text-dark">Sessions</h1>

<h4 class="pg text-dark">List of Sessions</h4>
            <% sessions.forEach(session => { %>
            <li>
                <a class="btn btn-light btn-lg btn-block shadow-1-strong" href="/sessions/<%= session._id %>"><%= session.title %></a>
            </li>
            <% }) %>
