    <title>Sessions Index</title>
</head>
<!-- opening nav tag in the layout.ejs -->
    <h1>Sessions</h1>
        <ul>
            <li>
                <a href="/" class="link-dark">Back to Campaign</a>
            </li>
            <li>
                <a href="/sessions/new" class="link-dark">New Session</a>
            </li>
            <br/>
        </nav>
        <h4 class="text-dark">List of Sessions</h4>
        <ul>
            <% sessions.forEach(session => { %>
            <li>
                <a href="/sessions/<%= session._id %>"><%= session.title %></a>
            </li>
            <% }) %>
        </ul>