    <title>New Sessions</title>
</head>
        <ul>
            <li>
                <a href="/" class="link-dark">Home</a>
            </li>
            <li>
                <a href="/" class="link-dark">New Session</a>
            </li>
        </ul>
    </nav>
        <div class="text-dark">
        <h1>New Session</h1>
        <main>
            <form action="/sessions/<%= campaign._id %> " method="post">
                Title: <input type="text" placeholder="Session Title" name="title" required/><br/>
                Session Date: <input type="date" name="sessionDate" required /><br/>
                Session Author: <input type="text" placeholder="Your Name" name="author" required/><br/>
                Summary: <textarea placeholder="Summary of Session goes here" name="body" required></textarea><br/>
                <input type="submit" value="Publish Session"/><br/>
            </form>
        </main>
    </div>

