<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.css">
    <link rel="stylesheet" href="css/styles.css">
    
    <title>New Sessions</title>
</head>
<body>
    <header>
        <h1>Create a new Session</h1>
            <nav>
                <ul>
                    <li>
                    <a href="/">Home</a>
                    </li>
                    <li>
                    <a href="/sessions">Sessions Index</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <form action="/sessions" method="post">
                Title: <input type="text" placeholder="Session Title" name="title" /><br/>
                Session Date: <input type="date" name="sessionDate" /><br/>
                Session Author: <input type="text" placeholder="Your Name" name="author" /><br/>
                Summary: <textarea placeholder="Summary of Session goes here" name="body"></textarea><br/>
                <input type="submit" value="Publish Session"/><br/>
            </form>
        </main>

    <!-- Scripts -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.js"></script>
</body>

</html>