<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Sessions</title>
</head>
<body>
    <header>
        <h1>Create a new Session</h1>
            <nav>
                <ul>
                    <li>
                    <a href="/">Home</a>
                    </li>
                    <li>
                    <a href="/sessions">Sessions Index</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <form action="/sessions" method="post">
                <input type="text" placeholder="Session Title" name="title" /><br/>
                <input type="date" name="sessionDate" /><br/>
                <input type="text" placeholder="Your Name" name="author" /><br/>
                <textarea placeholder="Summary of Session goes here" name="body"></textarea><br/>
                <input type="submit" value="Publish Session"/><br/>
            </form>
        </main>
</body>
</html>