<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Sessions</title>
</head>
<body>
    <header>
        <h1>session.title</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Campaigns</a>
                </li>
                 <li>
                    <a href="/sessions">Sessions Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section><%=session.body%></section>
    </main>
</body>
</html>