<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0-alpha4/mdb.min.css">
    <link rel="stylesheet" href="css/styles.css">
    
    <title>Show Sessions</title>
</head>
<body>
    <header>
        <h1>session.title</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Campaigns</a>
                </li>
                <li>
                    <a href="/sessions">Sessions Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <%=session.body%>
        </section>
        <br/>
        <section>
            <form action="/sessions/<%=session._id%>?_method=DELETE" method="post">
                <input type="submit" value="Delete Session"/>
            </form>
        </section>
        <section>
				<a href="/sessions/<%=session._id%>/edit">Edit</a>
        </section>
    </main>
</body>
</html>